[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "StreamMetabolism"]
	path = StreamMetabolism
	url = https://github.com/ssefick/streammetabolism
